* {
  margin: 0px;
  padding: 0px;
  /* box-sizing: border-box; */
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}
::-webkit-scrollbar {
  width: 6px;
  background-color: white;
}
::-webkit-scrollbar-thumb {
  background-color: #ccc;
}

.path-0{
  animation:pathAnim-0 4s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
@keyframes pathAnim-0{
  0%{
  d: path("M 0,600 C 0,600 0,300 0,300 C 107.5,295.6428571428571 215,291.2857142857143 331,316 C 447,340.7142857142857 571.4999999999999,394.5 701,395 C 830.5000000000001,395.5 965,342.71428571428567 1089,318 C 1213,293.28571428571433 1326.5,296.64285714285717 1440,300 C 1440,300 1440,600 1440,600 Z");
  }
  25%{
  d: path("M 0,600 C 0,600 0,300 0,300 C 130,325.8571428571429 260,351.7142857142857 360,370 C 460,388.2857142857143 530,399 652,362 C 774,325 948,240.28571428571428 1088,222 C 1228,203.71428571428572 1334,251.85714285714286 1440,300 C 1440,300 1440,600 1440,600 Z");
  }
  50%{
  d: path("M 0,600 C 0,600 0,300 0,300 C 138.75,249 277.5,198 378,230 C 478.5,262 540.7500000000001,377 663,387 C 785.2499999999999,397 967.5,302 1107,270 C 1246.5,238 1343.25,269 1440,300 C 1440,300 1440,600 1440,600 Z");
  }
  75%{
  d: path("M 0,600 C 0,600 0,300 0,300 C 96.07142857142858,260.57142857142856 192.14285714285717,221.14285714285714 323,192 C 453.85714285714283,162.85714285714286 619.4999999999999,144.00000000000003 760,189 C 900.5000000000001,233.99999999999997 1015.8571428571429,342.8571428571429 1125,372 C 1234.142857142857,401.1428571428571 1337.0714285714284,350.57142857142856 1440,300 C 1440,300 1440,600 1440,600 Z");
  }
  100%{
  d: path("M 0,600 C 0,600 0,300 0,300 C 107.5,295.6428571428571 215,291.2857142857143 331,316 C 447,340.7142857142857 571.4999999999999,394.5 701,395 C 830.5000000000001,395.5 965,342.71428571428567 1089,318 C 1213,293.28571428571433 1326.5,296.64285714285717 1440,300 C 1440,300 1440,600 1440,600 Z");
  }
  }